.accordion_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  margin: 0;
  padding: 0;
}

.accordion_wrapper:target .h1{
color: red;
}

.line {
  max-width: 300px;
  border: solid 1px gray;
  display: flex;
  flex-direction: row;
  opacity: 0.2;
}

.img {
height: 0;
max-width: 150px;
}

/* .accordion_element:hover .img{ 
  height: 250px;
  transition: all 0.7s;
  } */

a {
  width: 300px;
}

.plus {
  display: flex;
  width: 11px;
  height: 11px;
}

.lineUP {
  border: solid 1px rgb(0, 0, 0);
  transform: translateX(1.5px);
  border-radius: 10px;
}
.lineDown {
  border: solid 1px rgb(0, 0, 0);
  transform: rotate(90deg);
  border-radius: 10px;
}

.accordion_text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: rgb(14, 25, 234);
}

.accordion_element:target .img {
height: 125px;
transition: all 0.3s;
}

.accordion_element:target .accordion_text .plus {
  transform: rotate(90deg);
  transition: all 0.5s;
  }

  .accordion_element:target .accordion_text .plus {
    transform: rotate(45deg);
    transition: all 0.5s;
    }

  .accordion_hover:hover .accordion_text{
  color: rgb(0, 0, 0);
}


.accordion_element {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.accordion_element:target .accordion_text {
  color: black;
  }

  .accordion_element:target .accordion_text .plus {
    transform: rotate(90deg);
    transition: all 0.5s;
    }